<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="text-align: center">
  <img src="./assets/images/zingmp33.png" alt="Zing mp3" style="width: 180px; height: 50px">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <a class="btn btn-white" style="font-size: 12px;font-weight: bold" href="#">
        TRANG CHỦ
      </a>
    </div>
    <div class="container">
      <div class="dropdown">
        <button style="font-size: 12px;font-weight: bold" class="btn btn-white">
          TOP 100
        </button>
        <div class="dropdown-menu">
          <table style="width: 100%">
            <tr>
              <th>VIỆT NAM</th>
              <th>ÂU MĨ</th>
              <th>CHÂU Á</th>
            </tr>
            <tr>
              <td>Nhạc trẻ</td>
              <td>Pop</td>
              <td>Hàn Quốc</td>
            </tr>
            <tr>
              <td>Nhạc trữ tình</td>
              <td>Rock</td>
              <td>Nhật Bản</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="dropdown">
        <button style="font-size: 12px;font-weight: bold" class="btn btn-white">
          CHỦ ĐỀ
        </button>
        <div class="dropdown-menu">
          <table style="width: 100%">
            <tr>
              <th>VIỆT NAM</th>
              <th>ÂU MĨ</th>
              <th>CHÂU Á</th>
            </tr>
            <tr>
              <td>Nhạc trẻ</td>
              <td>Pop</td>
              <td>Hàn Quốc</td>
            </tr>
            <tr>
              <td>Nhạc trữ tình</td>
              <td>Rock</td>
              <td>Nhật Bản</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="dropdown">
        <button style="font-size: 12px;font-weight: bold" class="btn btn-white">
          MV
        </button>
        <div class="dropdown-menu">
          <table style="width: 100%">
            <tr>
              <th>VIỆT NAM</th>
              <th>ÂU MĨ</th>
              <th>CHÂU Á</th>
            </tr>
            <tr>
              <td>Nhạc trẻ</td>
              <td>Pop</td>
              <td>Hàn Quốc</td>
            </tr>
            <tr>
              <td>Nhạc trữ tình</td>
              <td>Rock</td>
              <td>Nhật Bản</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="dropdown">
        <button style="font-size: 12px;font-weight: bold" class="btn btn-white">
          ALBUM
        </button>
        <div class="dropdown-menu">
          <table style="width: 100%">
            <tr>
              <th>VIỆT NAM</th>
              <th>ÂU MĨ</th>
              <th>CHÂU Á</th>
            </tr>
            <tr>
              <td>Nhạc trẻ</td>
              <td>Pop</td>
              <td>Hàn Quốc</td>
            </tr>
            <tr>
              <td>Nhạc trữ tình</td>
              <td>Rock</td>
              <td>Nhật Bản</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="dropdown">
        <button style="font-size: 12px;font-weight: bold" class="btn btn-white">
          NGHỆ SĨ
        </button>
        <div class="dropdown-menu">
          <table style="width: 100%">
            <tr>
              <td>Việt Nam</td>
            </tr>
            <tr>
              <td>Âu mĩ</td>
            </tr>
            <tr>
              <td>Hàn Quốc</td>
            </tr>
            <tr>
              <td>Nhật Bản</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="input-group">
      <input type="text" name="search" placeholder="Nhập tên bài hát, ca sĩ, mv">
    </div>
    <button class="btn">
      <a href="#">
        <img src="https://avatar.talk.zdn.vn/default.jpg" style="border-radius: 50%; width: 40px ">
      </a>
    </button>
  </div>
</nav>

